body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header{
    background: blueviolet;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}